PORT= "Your backend port here"
database_url="Your connection string here"
app_url = "your app url"
bcrypt_salt_rounds = "bcrypt time provided"
jwt_access_secret = "jwt access"
jwt_access_expires_in = "jwt access expire time"
jwt_refresh_secret = "jwt refresh"
jwt_refresh_expires_in = "jwt refresh expire time"