PORT= Your_backend_port_here
database_url= Your_connection_string_here
app_url = your_app_url

bcrypt_salt_rounds = bcrypt_time_provided

jwt_access_secret = jwt_access
jwt_access_expires_in = jwt_access_expire_time

jwt_refresh_secret = jwt_refresh
jwt_refresh_expires_in = jwt_refresh_expire_time

STIPE_PUBLISH_KEY= Your_stripe_publish_kyey
STRIPE_SECRET_KEY = Your_stripe_secrect_key